<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Colour Palette</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app" class="app">
      <h1 class="app__title">{{ title }}</h1>

      <div class="palette" v-for="palette in palettes">
        <h2 class="palette__title">{{ palette.title }}</h2>
        <ul class="palette__list">
          <li class="palette__item" v-for="color in palette.colors">
            <div class="box" v-bind:style="{ backgroundColor: color.value }">
              {{ color.value }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="app.js"></script>
  </body>
</html>
